body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
@font-face {
    font-family: AllRoundGothic;
    src: url(../FontsFree-Net-All-Round-Gothic-W01-Bold.ttf);
  }
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top left;
    position: relative;
    background-image:
    linear-gradient(to bottom, rgba(54, 53, 54, 0.73), rgba(54, 53, 54, 0.73)),
    url('../images/Mask\ Group\ 8.png');
}

.logo img {
    top: 36px;
    left: 201px;
    width: 228px;
    height: 18px;
    background: transparent url('../images/Logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 91px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a{
    top: 32px;
    left: 541px;
    width: 108px;
    height: 25px;
    text-align: left;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;    
    color: #1C1B21;
    opacity: 1;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
}

/* .search {
    background: transparent url('../images/Icon\ feather-search.svg') 0% 0% no-repeat padding-box;
    opacity: 0.9;
} */

.specialist-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-size: cover;
    
}

.specialist-text {
    width: 500px;
    margin: 20px;
}

.specialist-text h1 {
    text-align: left;
    font: normal normal medium 60px/72px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 3.5rem;
    line-height: 55px;
    font-weight: 700;
    margin: 0px;
}

.specialist-text p {
    text-align: left;
    font: normal normal normal 17px/28px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.main-winkel {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Poppins;
    background: #304DE5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 30px;
}

.img-button {
    margin-right: 5px;
}

.left-arrow {
    margin-right: 10px;
}

.specialist-white-bg {
    top: 186px;
    left: 960px;
    width: 700px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
}

.specialist-white-text {
    position: relative;
    float: left;
}

.sp-content {
    float: right;
    position: absolute;
    object-position: bottom right;
    left: 1040px;
    margin-top: 200px;
}

.dak {
    color: #304DE5;
    opacity: 1;
    text-align: left;
    font-family: AllRoundGothic;
}

.licht {
    text-align: left;
    opacity: 1;
    color: #1C1B21;
    font-family: AllRoundGothic;
}

.sp-content p {
    text-align: left;
}

.sp-link, 
.sp-link img {
    color: #304DE5;
}

.sp-link img {
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.white-bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    position: relative;
}

.window {
    width: 50%;
    height: 50%;;
    object-fit: contain;
    object-position: bottom left;
    position: absolute;
    right: 80px;
    margin-top: 40px;
}

.blue-nav {
    margin-top: 580px;
    top: 870px;
    left: 201px;
    width: 100%;
    height: 50px;
    background: #304DE5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.blue-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.blue-nav ul li a {
    text-align: left;
    font: normal normal medium 22px/26px All Round Gothic;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 20px;
    margin-right: 8px;
}

.gamma {
    width: 100%;
    background-size: cover;
    background-position: top left;
    position: relative;
}

.gamma-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
    background-size: cover;
    
}

.gamma-content {
    width: 500px;
    margin: 20px;
}

.gamma-header {
    margin-top: 100px;
    top: 1050px;
    left: 201px;
    width: 100%;
    height: 120px;
    text-align: left;
    font: normal normal medium 50px/60px All Round Gothic;
    letter-spacing: 0px;
    color: #1C1B21;
    opacity: 1;
}

.gamma-header h1 {
    text-align: left;
    letter-spacing: 0px;
    color: #1C1B21;
    opacity: 1;
    font-size: 3.5rem;
    line-height: 55px;
    font-weight: 700;
    margin: 0px;
}

.gamma-text {
    display: inline-block;
    margin-top: 70px;
    margin-left: 660px;
    top: 1050px;
    left: 717px;
    height: 136px;
}

.gamma-text p {
    float: right;
    text-align: left;
    font: normal normal normal 17px/28px Poppins;
    letter-spacing: 0px;
    color: #706E7E;
    opacity: 1;
    display: inline;
    margin-bottom: 30px;
}

.gamma-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #304DE5 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 120px;
    height: 40px;
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.een {
    margin-top: 100px;
    width: 100%;
    background-size: cover;
    background-position: top left;
    position: relative;
    height: 70vh;
    margin-bottom: 100px;
}

.een-blue-bg {
    width: 70%;
    height: 800px;
    background: #304DE5 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    position: relative;
}

.een-text {
    margin-left: 260px;
    margin-top: 200px;
    display: inline-block;
}

.een-text h1 {
    text-align: left;
    font: normal normal medium 50px/60px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 3.5rem;
    line-height: 55px;
    font-weight: 700;
}

.een-text p {
    float: right;
    text-align: left;
    font: normal normal normal 17px/28px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline;
}

.een-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    text-align: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #304DE5;
}

.een-image {
    float: left;
    width: 590px;
    height: 600px;
    object-fit: contain;
    object-position: top;
    position: absolute;
    margin-top: 100px;
    right: 800px;
}

.een-image img {
    width: 100%;
    height: 100%;;
    object-fit: contain;
    position: absolute;

} 

.steeds {
    width: 100%;
    background-size: cover;
    background-position: top left;
    position: relative;
    
}

.steeds-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-size: cover;
}

.steeds-text {
    display: inline-block;
    margin-top: 70px;
    margin-left: 160px;
    left: 717px;
    height: 136px;
    width: 500px;
}
.steeds-text h1 {
    text-align: left;
    font-size: 3.5rem;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #1C1B21;
    font: normal normal medium 50px/60px All Round Gothic;
    letter-spacing: 0px;
    opacity: 1;
    left: 202px;
    width: 614px;
    height: 60px;
}

.steeds-text p {
    text-align: left;
    font: normal normal normal 17px/28px Poppins;
    letter-spacing: 0px;
    color: #706E7E;
    opacity: 1;
    display: inline-block;
    margin-bottom: 30px;
    
}

.steeds-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #304DE5 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 120px;
    height: 40px;
    text-align: left;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.steeds-image {
    float: right;
    top: 3108px;
    left: 1029px;
    width: 500px;
    height: 500px;
}

.stairs {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 200px;
    margin-top: 240px;
}


.footer {
    background: #1C1B21;
    color: #706E7E;
    height: 500px;
    position: relative;
    top: 800px;
}


.footer-content img {
    margin-top: 65px;
    margin-left: 75px;
    margin-bottom: 20px;
}

.footer-assortiment {
    margin-left: 80px;
    width: 30%;
    margin-bottom: 30px;
}

.footer-assortiment h3 {
    text-align: left;
    font-family: AllRoundGothic;
    height: 24px;
    color: #FFFFFF;
}

.footer-assortiment ul {
    margin: 0px;
    padding: 0px;
}

.footer-assortiment ul li a {
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #B7BFEA;
    opacity: 1;
}

.footer-bezoek {
    float: right;
    margin-left: 50px;
}
 
.footer-bottom {
    background: #1C1B21;
    color: #706E7E;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.line {
    border: 1px solid #FFFFFF;
    width: 100%;
    background-color: #fff;
    margin-top: 100px;
}

.footer-bottom p {
    margin-left: 80px;
    width: 40%;
    font: normal normal normal 12px/18px Poppins;
    color: #B7BFEA;
}

.footer-bottom ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.footer-bottom ul li a{
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;    
    color: #B7BFEA;
    opacity: 1;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    float: right;
    left: 1103px;
    width: 100%
}
